.version.index /* version checker */
{
	color: #000002;
	background-color: #7A67FE;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 358px;
	min-height: 337px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 71px 9px 162px 13px;
}

#u129-9
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

