.version.index /* version checker */
{
	color: #0000EB;
	background-color: #097361;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 605px;
	min-height: 185px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 68px 81px 771px 82px;
}

#u107-9
{
	z-index: 2;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

body
{
	position: relative;
	min-width: 768px;
}

#page .verticalspacer
{
	clear: both;
}

